<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GUI_Buck_Boost_Model_Wpf.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="GUI_Buck_Boost_Model_Wpf.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <GUI_Buck_Boost_Model_Wpf.Properties.Settings>
            <setting name="Setting" serializeAs="String">
                <value/>
            </setting>
            <setting name="VariableUpdateInterval" serializeAs="String">
                <value/>
            </setting>
            <setting name="txtSetPwmSwFreq" serializeAs="String">
                <value/>
            </setting>
            <setting name="txtSetVin" serializeAs="String">
                <value/>
            </setting>
            <setting name="txtInductor_L" serializeAs="String">
                <value/>
            </setting>
            <setting name="txtDCR" serializeAs="String">
                <value/>
            </setting>
            <setting name="txtCelec" serializeAs="String">
                <value/>
            </setting>
            <setting name="txtESRelec" serializeAs="String">
                <value/>
            </setting>
            <setting name="txtCcer" serializeAs="String">
                <value/>
            </setting>
            <setting name="txtESRcer" serializeAs="String">
                <value/>
            </setting>
            <setting name="txtVoutMS" serializeAs="String">
                <value/>
            </setting>
            <setting name="txtVoutCOF" serializeAs="String">
                <value/>
            </setting>
            <setting name="txtVinMS" serializeAs="String">
                <value/>
            </setting>
            <setting name="txtIindMS" serializeAs="String">
                <value/>
            </setting>
            <setting name="txtIlCOF" serializeAs="String">
                <value/>
            </setting>
            <setting name="txtRdsQ1" serializeAs="String">
                <value/>
            </setting>
            <setting name="txtRdsQ2" serializeAs="String">
                <value/>
            </setting>
            <setting name="txtIsRCS" serializeAs="String">
                <value/>
            </setting>
            <setting name="txtIloadLo" serializeAs="String">
                <value/>
            </setting>
            <setting name="txtIloadHi" serializeAs="String">
                <value/>
            </setting>
            <setting name="txtIloadCC" serializeAs="String">
                <value/>
            </setting>
            <setting name="txtIloadMS" serializeAs="String">
                <value/>
            </setting>
            <setting name="txtbaudrate" serializeAs="String">
                <value/>
            </setting>
            <setting name="txtcomport" serializeAs="String">
                <value/>
            </setting>
            <setting name="cmbComportSelect" serializeAs="String">
                <value/>
            </setting>
        </GUI_Buck_Boost_Model_Wpf.Properties.Settings>
        <GUI_Buck_Boost_Model_Wpf.Settings1>
            <setting name="MySettings" serializeAs="String">
                <value/>
            </setting>
        </GUI_Buck_Boost_Model_Wpf.Settings1>
    </userSettings>
</configuration>
